---
title: HTML5 Front End Template
---

<h1>FED Template running foundation 6</h1>
<!-- Add your site or application content here -->

    <p><a data-open="exampleModal2">Click me for a modal plugin sample</a></p>

<!-- This is the first modal -->
<div class="reveal" id="exampleModal2" data-reveal>
    <h1>Awesome!</h1>
    <p class="lead">I have another modal inside of me!</p>
    <a class="button" data-open="exampleModal3">Click me for another modal!</a>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- This is the nested modal -->
<div class="reveal" id="exampleModal3" data-reveal>
    <h2>ANOTHER MODAL!!!</h2>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
