/* Configs */

// Layout Colors
$base-background-color : #fff;

// Font Colors
$base-font-color       : #111;
$secondary-font-color  : #ccc;
$link-color            : #333;
$link-hover-color      : #0074D9;
$link-active-color     : #0074D9;

// Font Family
$base-font         : Arial;
$secondary-font    : Times New Roman;
$heading-base-font : Arial;

// Font Sizes
$base-font-size    :  16px;
$base-line-height  :  1.6;

// Layout
$row-width               : 1140; // Use $row-width if you want value with 'px'
$column-gutter-width      : 30;
$number-of-columns        : 12;